<div class="coin-links">

  <div class="circle-btn" (click)="goToLineAlertCharts($event)" title="Line Alert Chart">
    <mat-icon>show_chart</mat-icon>
  </div>

  <div class="circle-btn" (click)="goToVwapAlertCharts($event)" title="VWAP Alert Chart">
    <mat-icon>candlestick_chart</mat-icon>
  </div>

  <div class="circle-btn" (click)="goToEdit($event)" title="Edit">
    <mat-icon>edit</mat-icon>
  </div>

  <div class="circle-btn" (click)="goToDetails($event)" title="Details">
    <mat-icon>receipt_long</mat-icon>
  </div>


</div>